extends layout.pug

block content

  article.portfolio-intro

    h1 My Programs

    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid
        each project in projects
          .cell
            a(href=`projects/${project.id}`)
              img.thumbnail(src=`${project.image_urls.main}`, alt=`${project.description}`)
              h5= project.project_name

