extends layout.pug 

block content 

    .error-page
        h1= err.status 
        p  #{err.message} Click the link below to go back to the home page.
        p
            a(href="/") 
                span &larr; Go to homepage 
            