extends layout.pug 

block content 

    .error-page
        h1= err.status 
        p Oops, page not found.
        p
            a(href="/") 
                span &larr; Go to homepage 
            